.reveal section img {
  border: 0;
  box-shadow: none;
}

/* Things that appear in white.css of the pitchme.css repo */
/* https://github.com/gitpitch/gitpitch/blob/master/public/libs/reveal.js/3.4.1/css/theme/white.css */

/*.reveal .slides {*/
    /*text-align: left;*/
/*}*/
/*.reveal .slides section>* {*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
/*}*/

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 10;
  font-weight: normal;
  color: #222; }


.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }


